* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --brand-color: #7ca2f4;
  --dark-10: #121214;
  --dark-20: #f3f7ff;
  --white: #fff;
}

body {
  font-family: "Archivo", serif;
  display: grid;
  align-content: center;
  background-color: var(--white);
  font-size: 1.6rem;
}

.header {
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.header > .promotion {
  width: 100%;
  background-color: var(--dark-20);
  text-align: center;
  padding: 1.2rem 0 1.2rem 0;
}
@media (min-width: 1200px) {
  .header > .promotion {
    padding: 1.9rem 0 1.9rem 0;
  }
}
.header > .promotion > .promotion-text {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--dark-10);
}
@media (min-width: 768px) {
  .header > .promotion > .promotion-text {
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  .header > .promotion > .promotion-text {
    font-size: 2.4rem;
  }
}
.header > .hero {
  position: relative;
}
.header > .hero > .hero-image img {
  object-fit: cover;
  height: 35rem;
  width: 100%;
}
@media (min-width: 1200px) {
  .header > .hero > .hero-image img {
    height: 40rem;
  }
}
.header > .hero > .hero-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 9rem;
  left: 2.4rem;
  color: var(--white);
}
@media (min-width: 768px) {
  .header > .hero > .hero-content {
    width: 55.7rem;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 1200px) {
  .header > .hero > .hero-content {
    top: 30%;
    left: 40%;
    transform: translateX(-50%);
  }
}
.header > .hero > .hero-content > .brand {
  margin-bottom: 4rem;
}
@media (min-width: 1200px) {
  .header > .hero > .hero-content > .brand > img {
    height: 4.8rem;
  }
}
.header > .hero > .hero-content > .hero-title {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
@media (min-width: 1200px) {
  .header > .hero > .hero-content > .hero-title {
    font-size: 3.2rem;
  }
}
.header > .hero > .hero-content > .hero-text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.25rem;
}
@media (min-width: 768px) {
  .header > .hero > .hero-content > .hero-text {
    font-size: 1.8rem;
  }
}
@media (min-width: 1200px) {
  .header > .hero > .hero-content > .hero-text {
    font-size: 2.4rem;
  }
}

.content-section {
  padding: 0 3.2rem 0 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-section > .content-heading {
  max-width: 60rem;
  margin: 5.6rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.content-section > .content-heading > h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .content-section > .content-heading > h2 {
    font-size: 2.4rem;
  }
}
@media (min-width: 1200px) {
  .content-section > .content-heading > h2 {
    font-size: 3.2rem;
  }
}
.content-section > .content-heading > p {
  text-align: center;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .content-section > .content-heading > p {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}
@media (min-width: 1200px) {
  .content-section > .content-heading > p {
    font-size: 2.4rem;
    line-height: 3.3rem;
  }
}

/*# sourceMappingURL=style.css.map */
